.Sort {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  &_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    width: 20vw;
    & .MuiTextField-root {
      width: 11vw;
    }
  }
  &_direct {
    width: 18.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    & .MuiTextField-root {
      width: 11vw;
    }
  }
}

.Sort_block {
}

p.Sort-text {
  font-size: 20px;
}

.filter {
  display: flex;
  align-items: center;
  margin-left: 24px;
  &_img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  &-date {
    display: flex;
  }
}
